#firstButton{
   width: 10vw;
    margin-left: calc(50% - 5vw);
    margin-top: 50vh;
}

/*.btn-outline-primary{*/
/*    color: #274684;*/
/*    border-color: #274684;*/
/*}*/

/*.btn-outline-primary:hover{*/
/*    color: #274684;*/
/*    border-color: #274684;*/
/*}*/